# Copy to .env and fill in values

DATABASE_URL="postgresql://postgres:Nisarg@2006@localhost:5432/example_app_db?schema=public"

AUTH_ACCESS_TOKEN_SECRET="generate-with-openssl-rand-hex-64"
AUTH_REFRESH_TOKEN_SECRET="generate-different-with-openssl-rand-hex-64"
AUTH_ACCESS_TOKEN_EXPIRES_IN="15m"
AUTH_REFRESH_TOKEN_EXPIRES_IN="7d"

NODE_ENV="development"
PORT=4000
AUTH_APP_NAME="ExampleApp"
AUTH_APP_BASE_URL="http://localhost:5173"
ALLOWED_ORIGINS="http://localhost:5173"

EMAIL_PROVIDER="console"
SMS_PROVIDER="console"
